<?xml version="1.0"?>
<!--
/**
 * @package   LatitudeNew_Payment
 * @author    Lpay Team <integrationsupport@latitudefinancial.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="latitudepay" frontName="latitudepay">
            <module name="LatitudeNew_Payment" />
        </route>
    </router>
</config>